

.project-list {
  @media (max-width: 500px) {
    position: relative;
    overflow: auto;
  }
}


.template-loan {
  .space-1 {
    margin-bottom: 2rem;
  }

  .page-dashboard {
    @media (max-width: 500px) {
      padding: 10px 3px 60px;
    }

    .box {
      background-color: $white;
      box-shadow: 1px 1px 10px rgba($black, .04);
      padding: 2rem 1.5rem;
      height: 100%;

      b {
        font-size: 1.3rem;
      }

      .header-label {
        padding: 10px 1rem;
        background-color: $primary-2;

        label {
          margin-bottom: 0;
          font-size: .8rem;
          color: $white;
        }
      }

    }

    .list-count {
      .box {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        @media (max-width: 992px) {
          border-bottom: 1px solid $gray-2;

        }

        .item {
          width: calc(100%/2);

          overflow-wrap: break-word;

        }

        .counter {
          font-size: 3rem;
          font-weight: bold;
          color: $primary-2;
          line-height: 40px;
        }

        .counter-label {
          font-size: .9rem;
        }

      }
    }


    .list-group {
      padding: 0;
      border-radius: 0;

      @media (max-width: 992px) {
        margin-top: 2rem;
      }

      ul {
        list-style: none;
        padding: 0;
        margin-bottom: 0;
        min-height: 400px;
        max-height: 400px;
        overflow-y: auto;

        li {
          padding: 1rem;
          border-top: 1px solid $gray-2;

          &:first-child {
            //border-top: 0;
          }

          .text {
            //font-size: 1.2rem;
            color: $black;
          }
        }

      }
    }

    .repeat-container {
      .repeat-item {
        padding: 10px 0;
        border-top: 1px dashed $default;

        &:first-child {
          border-top: 0;
        }

        .date {
          padding: 10px 1rem;
          font-size: .8rem;
          font-weight: bold;
          color: $default;
          text-transform: uppercase;
        }
        ul {
          min-height: auto;
          max-height: auto;

          li {
            border: 0;

            .text {
              b {
                font-size: 1rem;
              }

              &.payment-label {
                display: flex;
                align-items: center;
                 img {
                   margin-right: 10px;
                 }
              }
            }
          }
        }
      }
    }

  }
}