// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// DataTables
@import "~datatables.net-bs4/css/dataTables.bootstrap4.css";
@import "~datatables.net-buttons-bs4/css/buttons.bootstrap4.css";

.profile-pic {
    height: 48px;
    width: 48px;
}

.no-resize {
    resize: vertical;
    overflow: auto;
    height: 106px !important;
}

.agravah {

}

.page-forms form .form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #dadada !important;
    outline: none;
    font-size: 1.3rem
}

.farmer-login {

    //border: 2px solid #808080;
    max-width: 500px;
    width: 90%;
    margin: auto;
    input {
        border: none;
        border-bottom: 2px solid #808080;
        background-color: transparent;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        &:focus {
            background-color: transparent;
        }
    }
}

.farmer-id {
    border: 2px solid #808080;
    background-color: #FFFFFF;
    max-width: 300px;
    width: 50%;
    margin: auto;
    img {
        &.logo {
            width: 150px;
        }
        &.qr{
            border: 1px solid #3d3d3d;
            padding: 5px;
            width: 200px;
        }
    }
}

select.form-control:not([size]):not([multiple]) {
    height: 37px !important;
}

.project-title a {
    font-size: 14px;
    color: #676a6c;
    font-weight: 600;
}

#loan-app-detail {
    .nav-tabs {
        li {
            a {
                &.active {
                    color: #FFFFFF;
                    background: #072e5c !important;
                }
                &:hover {
                    color: #FFFFFF;
                }
                &:active {
                    color: #FFFFFF;
                }
            }
        }
    }
}
