// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

//
//// Variables
//@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';


//EXISTING STYLES
//@import "existing_css";
.profile-pic {
    height: 48px;
    width: 48px;
}

.no-resize {
    resize: vertical;
    overflow: auto;
    height: 106px !important;
}

// Variables
@import "inc/variable";

body {
    font-size: 1.1rem !important;
    font-family: $font-family-secondary !important;
}





//Partials (sidemenu, navbar, footer)
@import "inc/partials";
//Custom changes
@import "inc/custom";

//PAGES
@import "pages/login";
@import "pages/register";
@import "pages/welcome";

@import "pages/loan";
